<button class="btn btn-outline-primary menu mr-1" data-title="Hourly" data-file="statistics" data-name="statistics_statistics" data-members="statistics statistics_statistics">Statistics</button>
<button class="btn btn-outline-primary menu mr-1" data-title="OEE" data-file="statistics_oee" data-name="statistics_oee" data-members="statistics statistics_oee">OEE</button>
