<div class="row mt-2">

    <div class="col-12">
        <table id="table_oee" class="table table-sm table-bordered" style="table-layout: fixed">
            <thead>
            <tr>
                <th style="width:115px;text-align: center;">ID</th>
                <th style="width:230px;">Name</th>
                <th style="width:230px;">State</th>
                <th style="width:230px;text-align: center;">Count</th>
                <th style="">Error</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>


<footer id="footer" class="container-fluid">
    <%- include('../components/statistics/statistics_footer') %>
</footer>
<style>
    .bg-light-blue{
        background-color:#bfdbfe;
    }
</style>
<script>
    /* global basic_info */
    /* global ipcRenderer */
    let mpinduct_states_labels={}
    let mpinduct_errors_labels={}
    function systemPageLoaded(){
        if(basic_info['mpinducts']){
            Object.values(basic_info['mpinducts']).sort((a,b)=>a.mpinduct_id-b.mpinduct_id).forEach(item => {
                let html='<tr>' +
                    '<td style="text-align: center">' + item['mpinduct_id'] + '</td>' +
                    '<td>' + item['name'] + '</td>' +
                    '<td class="td_state" data-mpinduct_id="'+item['mpinduct_id']+'"></td>' +
                    '<td class="td_count" style="text-align: right" data-mpinduct_id="'+item['mpinduct_id']+'"></td>' +
                    '<td class="td_errors" data-mpinduct_id="'+item['mpinduct_id']+'"></td>' +
                    '</tr>';
                $('#table_oee tbody').append(html)
            });
        }
        if(basic_info['mpinducts_labels']){
            Object.values(basic_info['mpinducts_labels']).forEach(item => {
                if(item['type']==0){
                    mpinduct_states_labels[item['value']]=item['label'];
                }
                else if(item['type']==1){
                    mpinduct_errors_labels[item['value']]=item['label'];
                }
            });
        }

        if(basic_info['connected']){
            requestPageData();
            setInterval(() => {requestPageData()}, 2000);
        }
    }
    function requestPageData(){
        let requestData=[
            {'name':'mpinducts_states','params':{}},
        ];
        ipcRenderer.send("sendRequestToServer", "getStatisticsOeeData",{},requestData);
    }
    ipcRenderer.on("getStatisticsOeeData", function(e, jsonObject) {
        let machine_id=jsonObject['params']['machine_id'];
        for(let key in jsonObject['data']['mpinducts_states']){
            let mpinduct_state=jsonObject['data']['mpinducts_states'][key];
            $('.td_count[data-mpinduct_id="'+mpinduct_state['mpinduct_id']+'"]').text(mpinduct_state['count'])
            $('.td_state[data-mpinduct_id="'+mpinduct_state['mpinduct_id']+'"]').text(mpinduct_states_labels[mpinduct_state['state']]?mpinduct_states_labels[mpinduct_state['state']]:mpinduct_state['state'])
            let errors_text='';
            for(let i=0;i<16;i++){
                let column='b'+i;
                if(mpinduct_state[column]==1){
                    errors_text+=(', '+(mpinduct_errors_labels[column]?mpinduct_errors_labels[column]:i));
                }
            }
            $('.td_errors[data-mpinduct_id="'+mpinduct_state['mpinduct_id']+'"]').text(errors_text.length>1?errors_text.substring(2):'')
        }


    })

</script>