
<div class="row mt-2">
    <div class="col-lg-6" id="bcr-chart" style="height: 280px;"></div>
    <div class="col-lg-6">
        <button style="display: none" id="button_reset" class="button-device-command button-3d button-rectangle"
                data-device-id="86"
                data-command="0"
                data-parameter1="0">Reset
        </button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-6">
        <div id="tput-chart" style="height: 406px;">TPUT Chart</div>
    </div>
    <div class="col-lg-6">

    </div>
</div>
<footer id="footer" class="container-fluid">
    <%- include('../components/statistics_footer') %>
</footer>
<script>
    /* global basic_info */
    /* global ipcRenderer */
    function systemPageLoaded(){

        let currentUser=basic_info['currentUser'];
        if (currentUser['role'] >0 && currentUser['role'] <4) {
            $('#button_reset').show();
        }
        else{
            $('#button_reset').show();
        }
        if(basic_info['connected']){
        }
    }
</script>