<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_conveyors">Hide/Show Conveyors</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_devices">Hide/Show Devices</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_photoeyes">Hide/Show Photoeyes</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_motors">Hide/Show Motors</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_legend">Show legend</button>