<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_bg">Toggle BG</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_conveyors">Toggle Conveyors</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_devices">Toggle Devices</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_estop">Toggle Estop</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_photoeyes">Toggle Photoeyes</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_motors">Toggle Motors</button>
<button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle" id="btn_toggle_legend">Show legend</button>