<div style="position:absolute;width: 100%;height:100%;left: 0;top: 0;">
    <svg id="svg_motor_zone_R4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 400">
        <image transform="translate(20,40) scale(.45)" id="bg_image" href="components/general/bg_mabs.png"/>
        <use xlink:href="#motor" class="motor" motor_id="0" clickable="0" data-toggle="tooltip" data-html="true" title="" transform="translate(200,160)"  gui_id="Motor_Mc_Zone_R4" />
        <use xlink:href="#motor" class="motor" motor_id="0" clickable="0" data-toggle="tooltip" data-html="true" title="" transform="translate(360,320)"  gui_id="Motor_Mr_Zone_R4" />
        <use xlink:href="#proximity" class="proximity" input_id="0" data-toggle="tooltip" data-html="true" title="" transform="translate(70,320)"  gui_id="Zone_R4_2" />
        <use xlink:href="#proximity" class="proximity" input_id="0" data-toggle="tooltip" data-html="true" title="" transform="translate(190,320)"  gui_id="Zone_R4_1" />
        <use xlink:href="#proximity" class="proximity" input_id="0" data-toggle="tooltip" data-html="true" title="" transform="translate(310,320)"  gui_id="Zone_R4_3" />
    </svg>
</div>
<div style="font-weight:bolder;position:absolute;width: 100px;height:30px;left: 130px;top: 5px;">Zone R4</div>

<button style="font-size: 14px;width: 110px;position:absolute;left:380px;top:25px;" class="button-3d button-rectangle motor_zone_close">Close</button>

<button style="font-size: 14px;width: 110px;position:absolute;top:340px;left:20px;" class="button-3d button-rectangle button-device-command" data-device-id="502" data-command="2" data-parameter1="700">Left Pos</button>
<button style="font-size: 14px;width: 110px;position:absolute;top:340px;left:140px;" class="button-3d button-rectangle button-device-command" data-device-id="502" data-command="1" data-parameter1="700">Home Pos</button>
<button style="font-size: 14px;width: 110px;position:absolute;top:340px;left:260px;" class="button-3d button-rectangle button-device-command" data-device-id="502" data-command="3" data-parameter1="700">Right Pos</button>

<button style="font-size: 14px;width: 110px;position:absolute;left:380px;top:125px;" class="button-3d button-rectangle button-device-command" data-device-id="502" data-command="4" data-parameter1="700">Reset</button>
<button style="font-size: 14px;width: 110px;position:absolute;left:380px;top:175px;" class="button-3d button-rectangle button-device-command" data-device-id="502" data-command="5" data-parameter1="700">Roller Fwd</button>
<button style="font-size: 14px;width: 110px;position:absolute;left:380px;top:225px;" class="button-3d button-rectangle button-device-command" data-device-id="502" data-command="7" data-parameter1="700">Roller Stop</button>
<button style="font-size: 14px;width: 110px;position:absolute;left:380px;top:275px;" class="button-3d button-rectangle button-device-command" data-device-id="502" data-command="6" data-parameter1="700">Roller Backward</button>