<div style="position:absolute;width: 100%;height:100%;left: 0;top: 0;">
    <svg id="svg_motor_zone_L2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 480 280">
        <image transform="translate(20,0) scale(.4)" id="bg_image" href="components/general/bg_mabs.png"/>
        <use xlink:href="#motor" class="motor" motor_id="0" clickable="0" data-toggle="tooltip" data-html="true" title="" transform="translate(450,110)"  gui_id="Motor_Mc_Zone_L2" />
        <use xlink:href="#motor" class="motor" motor_id="0" clickable="0" data-toggle="tooltip" data-html="true" title="" transform="translate(450,225)"  gui_id="Motor_Mr_Zone_L2" />
        <use xlink:href="#proximity" class="proximity" input_id="0" data-toggle="tooltip" data-html="true" title="" transform="translate(230,235)"  gui_id="ZONE_L4_EDGED_PE" />
        <use xlink:href="#proximity" class="proximity" input_id="0" data-toggle="tooltip" data-html="true" title="" transform="translate(230,255)"  gui_id="ZONE_L4_EDGED_PE" />
    </svg>
</div>
<div style="position:absolute;width: 150px;right: 50px;top: 0;">
    <button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle motor_zone_close mt-2">Close</button>
    <br>
    <br>
    <button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle mt-3">Roller Fwd</button>
    <br>
    <button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle mt-3">Roller Stop</button>
    <br>
    <button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle mt-3">Roller Backward</button>
    <br>
    <br>
    <button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle mt-3">Accept Pos</button>
    <br>
    <button style="font-size: 14px;width: 150px;" class="button-3d button-rectangle mt-3">Eject Pos</button>
</div>

