<div style="position:absolute;width: 100%;height:100%;left: 0;top: 0">
    <svg id="svg_motor_zone_13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 350">
        <image transform="translate(200,55)" id="bg_image" href="components/general/bg_13.png"/>
        <use xlink:href="#motor" class="motor" motor_id="0" clickable="0" data-toggle="tooltip" data-html="true" title="" transform="translate(120,170)"  gui_id="Motor_M3a_Zone_13" />
        <use xlink:href="#motor" class="motor" motor_id="0" clickable="0" data-toggle="tooltip" data-html="true" title="" transform="translate(240,170)"  gui_id="Motor_M1_Zone_13" />
        <use xlink:href="#motor" class="motor" motor_id="0" clickable="0" data-toggle="tooltip" data-html="true" title="" transform="translate(520,170)"  gui_id="Motor_M2_Zone_13" />
        <use xlink:href="#motor" class="motor" motor_id="0" clickable="0" data-toggle="tooltip" data-html="true" title="" transform="translate(650,170)"  gui_id="Motor_M3b_Zone_13" />
        <use xlink:href="#proximity" class="proximity" input_id="0" data-toggle="tooltip" data-html="true" title="" transform="translate(180,140)"  gui_id="LIFT_M3a_UP_PROX" />
        <use xlink:href="#proximity" class="proximity" input_id="0" data-toggle="tooltip" data-html="true" title="" transform="translate(180,205)"  gui_id="LIFT_M3a_DOWN_PROX" />
        <use xlink:href="#proximity" class="proximity" input_id="0" data-toggle="tooltip" data-html="true" title="" transform="translate(610,140)"  gui_id="LIFT_M3b_UP_PROX" />
        <use xlink:href="#proximity" class="proximity" input_id="0" data-toggle="tooltip" data-html="true" title="" transform="translate(610,205)"  gui_id="LIFT_M3b_DOWN_PROX" />
    </svg>
</div>

<button style="position:absolute;width: 150px;left: 10px;top: 120px;font-size: 14px;" class="button-3d button-rectangle">UP</button>
<button style="position:absolute;width: 150px;left: 10px;top: 195px;font-size: 14px;" class="button-3d button-rectangle">Down</button>

<button style="position:absolute;width: 150px;right: 10px;top: 50px;font-size: 14px;" class="button-3d button-rectangle motor_zone_close">Close</button>
<button style="position:absolute;width: 150px;right: 10px;top: 120px;font-size: 14px;" class="button-3d button-rectangle">UP</button>
<button style="position:absolute;width: 150px;right: 10px;top: 195px;font-size: 14px;" class="button-3d button-rectangle">Down</button>
